{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
  {{#foreach navigation}}
    <a href="{{url absolute="true"}}" target="_blank" rel="noopener" aria-label="{{label}}">
        <span class="icon-{{label}}" aria-hidden="true"></span>
    </a>
  {{/foreach}}
{{else}}
  {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
  {{/foreach}}
{{/if}}
